<body class="light-layout">
    <!-- Start Chat Layout -->
    <div class="chat-layout">
        <!-- Start Chat Leftbar -->
        <div class="chat-leftbar">
            <div class="tab-content" id="pills-tab-justifiedContent">
                <!-- Start Chat Listbar -->
                <div class="tab-pane fade show active" id="pills-chat-justified" role="tabpanel" aria-labelledby="pills-chat-tab-justified">
                    <div class="chat-listbar">
                        <div class="chat-left-headbar">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <ul class="list-unstyled mb-0">
                                        <li class="media">
                                            <img class="align-self-center mr-2" src="assets/images/logo.svg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="mb-0 mt-2">Tutti</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>  
                        <div class="chat-left-search">
                            <%=form_with model: @room, local: true do |f|%>
                                <%= f.text_field :name, class: 'form-control', placeholder: 'ルーム名'%>
                                <p class="chat-member-select">チャットするユーザーを選択してください</p>

                                <% if @room.errors.any? %>
                                    <div class="error-alert">
                                        <ul>
                                            <% @room.errors.full_messages.each do |message| %>
                                            <li class='error-message'><%= message %></li>
                                            <% end %>
                                        </ul>
                                    </div>
                                <% end %>                                   

                                <select name="room[user_ids][]" >
                                    <%= f.collection_check_boxes :user_ids, User.where.not(id: current_user.id).all, :id, :last_name, {include_hidden: false} %>
                                </select>
                                <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>

                                <div class="input-group-append">
                                    <%= f.submit class: 'room-creaet btn-primary', value: 'ルーム作成'%>
                                </div>    
                            <% end %>
                        </div>                                     
                        <div class="chat-left-body">
                            <% current_user.rooms.each do |room| %>     
                                <div class="nav flex-column nav-pills chat-userlist" id="chat-list-tab" role="tablist" aria-orientation="vertical">
                                    <div class="nav-link active">
                                            <div class="media-body">
                                                <h5><%= link_to room.name, room_messages_path(room) %></h5>
                                            </div>                                      
                                    </div>
                                </div>
                            <% end %>    
                        </div>                                       
                    </div>                                    
                </div>
                <!-- End Chat Listbar -->
  
                
            </div>
            <div class="chat-menu">
                
            </div>
        </div>
        <!-- End Chat Leftbar -->
        <!-- Start Chat Rightbar -->  
        <div class="chat-rightbar">
            <!-- Start Chat Detail -->
            <div class="chat-detail">
                <div class="chat-head">
                    <div class="row align-items-center">
                        <div class="col-6">                                                
                            <ul class="list-unstyled mb-0">
                                <li class="media">
                                    <div class="user-status"></div>
                                    <img class="align-self-center rounded-circle" src="assets/images/girl.svg" alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5><%= current_user.last_name %></h5>
                                        <p class="mb-0"><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </div>                                    
                </div>
                <div class="chat-body">
                    <img class="align-self-center mr-2" src="assets/images/authenticatiton-bg.jpg" alt="chat image">                    
                </div>
                <div class="chat-bottom">
                    <div class="chat-messagebar">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <a href="#" id="button-addonmic"><i class="feather icon-mic"></i></a>
                                </div>  
                                <input type="text" class="form-control" placeholder="チャットメッセージ入力..." aria-label="Text">
                                <div class="input-group-append">
                                    <a href="#" class="mr-3" id="button-addonlink"><i class="feather icon-paperclip"></i></a>
                                    <a href="#" id="button-addonsend"><i class="feather icon-send"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Chat Detail -->
        </div>
        <!-- End Chat Rightbar -->
    </div>
    <!-- End Chat Layout -->
    <!-- Start js -->        
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.min.js"></script>
    <script src="/assets/js/detect.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/vertical-menu.js"></script>
    <!-- Slick js -->
    <script src="/assets/plugins/slick/slick.min.js"></script>
    <!-- Core js -->
    <script src="/assets/js/core.js"></script>
    <!-- End js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>
</html>